$default-font-color:#000;
$container-bgcolor: rgb(215, 250, 228);
$container-bordercolor:rgb(215, 250, 228);
$textbox-bordercolor: lightgray;
$button-textcolor: #fff;
$button-hovercolor: #000;
$addbuttoncolor: green;
$clear-button-color: #9f6060;

@mixin mp($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 160px;
    font-family: "montserrat", sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    @include mp(768px) {
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background: rgb(22,74,65);
    background: linear-gradient(90deg, rgba(22,74,65,1) 19%, rgba(77,119,78,1) 47%, rgba(157,200,141,1) 100%, rgba(255,255,255,1) 100%); 
}

section {
    background-color: $container-bgcolor;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $container-bordercolor;
    border-radius: 10px;
}